@page
@model ItRental.Web.Pages.RentersModel
@{
    ViewData["Title"] = "Renters";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Oversigt over lånere</h2>
<div class="content">
    <form asp-page="Renters" asp-page-handler="Seach">
        <input asp-for="Renter.Name" />
        <input type="submit" value="Søg" />
    </form>
    <table>
        <tr>
            <th>Navn</th>
            <th>Rettighed</th>            
            @*<th>Rediger</th>*@
        </tr>
        <tbody>
            @{
                foreach (Renter renter in Model.Renters)
                {
                    <tr>
                        <td>@renter.Name</td>
                        <td>@renter.RenterLevel</td>                        
                        @*<td>
                            <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <h2>Opret nyt IT-udstyr</h2>
    <div class="form">
        <form asp-page="Renters">
            <label asp-for="Renter.Name"></label>
            <input asp-for="Renter.Name" />
            <label asp-for="Renter.RenterLevel">Rettighed</label>
            <select asp-for="Renter.RenterLevel">
                <option value="3">Starter</option>
                <option value="5">Normal</option>
                <option value="8">Top lejere</option>
            </select>          
            <button type="submit">Opret</button>
        </form>
    </div>
</div>

